<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
          class="backArrow-padding">
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold"
    >Atividade física
  </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="primary">

  <ion-grid>
      <ion-row class="ion-justify-content-center">
        <h1 class="font-22px">NOVA ATIVIDADE</h1>
      </ion-row>

      <ion-row class="hiddenOnCount">
        <ion-col>
          <h2 class="ion-text-center font-38px text-bold">0,000</h2>
          <p class="ion-text-center font-10px">Distância (metros)</p>
        </ion-col>
      </ion-row>

      <ion-row class="hiddenOnCount">
        <ion-col>
          <h3 class="ion-text-center font-24px text-bold">0,0</h3>
          <p class="ion-text-center font-10px">Velocidade média</p>
        </ion-col>
        <ion-col>
          <h3 class="ion-text-center font-24px text-bold">00:00</h3>
          <p class="ion-text-center font-10px">Tempo </p>
        </ion-col>
        <ion-col>
          <h3 class="ion-text-center font-24px text-bold">00:00</h3>
          <p class="ion-text-center font-10px">Pace (Tempo/km)</p>
        </ion-col>
        <ion-col>
          <h3 class="ion-text-center font-24px text-bold">00</h3>
          <p class="ion-text-center font-10px">Gasto calórico</p>
        </ion-col>
      </ion-row>

      <ion-row class="showOnCount ion-justify-content-center">
        <h2>
          {{timer}}
        </h2>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-padding-bottom">
        <ion-button color="secondary" class="text-bold half-width hiddenOnCount" (click)="startCount()">
          INICIAR
        </ion-button>
        <ion-button color="secondary" class="text-bold half-width showOnCount" (click)="stopCount()">
          PARAR
        </ion-button>
      </ion-row>
  </ion-grid>

  <ion-grid class="d-flex flex-column ion-justify-content-between">
    <ion-row class="ion-padding-top ion-justify-content-between">
      <ion-item class="hiddenOnCount full-width ion-justify-content-between" color="primary" (click)="navigate('activity-history')">
        <ion-label>
          HISTÓRICO DE ATIVIDADES
        </ion-label>
        <div class="ion-padding-end">
          <img src="assets/images/arrow-right.svg">
        </div>
      </ion-item>
    </ion-row>

   
  </ion-grid>

  <ion-grid>
    
    <ion-row class="ion-nowrap ion-padding-vertical" style="padding: 0px 15px;">
      <ion-col style="width: 30%;">   
        <img src="assets/images/cefan.png" style="height: 65px;margin-left: 2px;">
        <p style="margin: 0px; font-size:13px;" >&nbsp;&nbsp;CDM&nbsp;</p>
      </ion-col>
      <div style="display: flex;align-items: center;">
        <p class="font-14px" style="text-align: center;">Na vanguarda do condicionamento físico de Marinheiros e Fuzileiros Navais.</p>
      </div>
      <ion-col>      
          <img src="assets/images/cefan1.png" style="height: 65px;">    
          <p style="margin: 0px; font-size:13px;">CEFAN</p>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>

