h2,
h3 {
    color: #FFEAB8;
}

ion-grid:last-child {
    height: calc(100% - 344px);
}

ion-grid:last-child ion-row:first-child {
    border-top: 1px solid #3d447a;
}


ion-grid:last-child {
    height: calc(100% - 321px);
    display: flex;
    align-items: flex-end;
    padding-bottom: 25%;
}

.showOnCount {
    display: none;
}

ion-row.showOnCount {
    height: 209px;
}

.showOnCount h2 {
    font-size: 120px;
}