<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Índice do TAF-a
  </h1>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" color="primary">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h1>ÍNDICES DO TAF-a</h1>
    </ion-row>

    <form [formGroup]="tafaForm" (ngSubmit)="onSubmit()">
      <ion-item color="primary">
        <ion-label position="stacked">
          Gênero
        </ion-label>
        <ion-select formControlName="genre" class="font-14px" (ionChange)="changeGenre($event.target.value)">
          <ion-select-option value="MASCULINO">
            Masculino
          </ion-select-option>
          <ion-select-option value="FEMININO">
            Feminino
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="primary">
        <ion-label position="stacked">
          Corpo
        </ion-label>
        <ion-select formControlName="body" class="font-14px" (ionChange)="changeBody($event.target.value)">
          <ion-select-option value="Fuzileiros Navais">
            Fuzileiros Navais
          </ion-select-option>
          <ion-select-option value="Outros">
            Outros corpos e quadros
          </ion-select-option>
        </ion-select>
      </ion-item>
        
      <ion-item color="primary">
        <ion-label position="stacked">
          Teste
        </ion-label>
        <ion-select formControlName="test" class="font-14px">
          <ion-select-option *ngIf="body == 'Outros'">
            Caminhada - 4800m
          </ion-select-option>
          <ion-select-option *ngIf="body == 'Outros'">
            Corrida - 2400m
          </ion-select-option>
          <ion-select-option *ngIf="body == 'Fuzileiros Navais'">
            Corrida - 3200m
          </ion-select-option>
          <ion-select-option *ngIf="body == 'Outros'">
            Natação - 50m
          </ion-select-option>
          <ion-select-option *ngIf="body == 'Fuzileiros Navais'">
            Natação - 100m
          </ion-select-option>
          <ion-select-option *ngIf="genre == 'MASCULINO' && body == 'Fuzileiros Navais'">
            Flexão na barra
          </ion-select-option>
          <ion-select-option *ngIf="body == 'Fuzileiros Navais'">
            Flexão no solo
          </ion-select-option>
          <ion-select-option *ngIf="body == 'Fuzileiros Navais'">
            Abdominal Remador
          </ion-select-option>
          <ion-select-option *ngIf="body == 'Fuzileiros Navais'">
            Abdominal em Prancha Frontal
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-row class="ion-justify-content-center">
        <ion-button type="submit" color="secondary" class="half-width">
          VISUALIZAR
        </ion-button>
      </ion-row>
    </form>
  </ion-grid>

  <ion-grid>
    
    <ion-row class="ion-nowrap ion-padding-vertical" style="padding: 0px 15px;">
      <ion-col style="width: 30%;">   
        <img src="assets/images/cefan.png" style="height: 65px;margin-left: 2px;">
        <p style="margin: 0px; font-size:13px;" >&nbsp;&nbsp;CDM&nbsp;</p>
      </ion-col>
      <div style="display: flex;align-items: center;">
        <p class="font-14px" style="text-align: center;">Na vanguarda do condicionamento físico de Marinheiros e Fuzileiros Navais.</p>
      </div>
      <ion-col>      
          <img src="assets/images/cefan1.png" style="height: 65px;">    
          <p style="margin: 0px; font-size:13px;">CEFAN</p>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
