ion-select {
    background: #FFF;
    color: #333;
}

ion-item {
    margin-top: 35px;
    margin-bottom: 35px;
}

ion-item ion-label {
    margin-bottom: 10px;
}

ion-grid:last-child {
    min-height: calc(100% - 467.8px + 44px);
    display: flex;
    align-items: flex-end;
    padding-bottom: 10%;
}
