<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Tabela
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <h2 class="font-22px">FEMININO</h2>
        <h1 class="text-bold">CORRIDA 3200m</h1>
      </div>
    </ion-row>

    <table class="font-12px ion-margin-bottom">
      <tr>
        <th class="font-16px text-bold">Pontos <br>Idade</th>
        <th class="font-14px text-bold">50</th>
        <th class="font-14px text-bold">60</th>
        <th class="font-14px text-bold">70</th>
        <th class="font-14px text-bold">80</th>
        <th class="font-14px text-bold">90</th>
        <th class="font-14px text-bold">100</th>
      </tr>

      <tr class="font-14px text-bold">
        <td class="ion-padding-vertical font-14px">18 a 25</td>
        <td class="ion-padding-vertical font-14px">20:30</td>
        <td class="ion-padding-vertical font-14px">17:36</td>
        <td class="ion-padding-vertical font-14px">17:04</td>
        <td class="ion-padding-vertical font-14px">16:32</td>
        <td class="ion-padding-vertical font-14px">16:00</td>
        <td class="ion-padding-vertical font-14px">15:12</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:24</td>
        <td class="ion-padding-vertical font-14px">05:30</td>
        <td class="ion-padding-vertical font-14px">05:20</td>
        <td class="ion-padding-vertical font-14px">05:10</td>
        <td class="ion-padding-vertical font-14px">05:00</td>
        <td class="ion-padding-vertical font-14px">04:45</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:33</td>
        <td class="ion-padding-vertical font-14px">02:12</td>
        <td class="ion-padding-vertical font-14px">02:08</td>
        <td class="ion-padding-vertical font-14px">02:04</td>
        <td class="ion-padding-vertical font-14px">02:00</td>
        <td class="ion-padding-vertical font-14px">01:54</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">9,4</td>
        <td class="ion-padding-vertical font-14px">10,9</td>
        <td class="ion-padding-vertical font-14px">11,2</td>
        <td class="ion-padding-vertical font-14px">11,6</td>
        <td class="ion-padding-vertical font-14px">12,0</td>
        <td class="ion-padding-vertical font-14px">12.6</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">26 a 33</td>
        <td class="ion-padding-vertical font-14px">21:00</td>
        <td class="ion-padding-vertical font-14px">19:12</td>
        <td class="ion-padding-vertical font-14px">18:40</td>
        <td class="ion-padding-vertical font-14px">17:52</td>
        <td class="ion-padding-vertical font-14px">17:04</td>
        <td class="ion-padding-vertical font-14px">16:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:33</td>
        <td class="ion-padding-vertical font-14px">06:00</td>
        <td class="ion-padding-vertical font-14px">05:50</td>
        <td class="ion-padding-vertical font-14px">05:35</td>
        <td class="ion-padding-vertical font-14px">05:20</td>
        <td class="ion-padding-vertical font-14px">05:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:37</td>
        <td class="ion-padding-vertical font-14px">02:24</td>
        <td class="ion-padding-vertical font-14px">02:20</td>
        <td class="ion-padding-vertical font-14px">02:14</td>
        <td class="ion-padding-vertical font-14px">02:08</td>
        <td class="ion-padding-vertical font-14px">02:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">9,1</td>
        <td class="ion-padding-vertical font-14px">10,0</td>
        <td class="ion-padding-vertical font-14px">10,3</td>
        <td class="ion-padding-vertical font-14px">10,7</td>
        <td class="ion-padding-vertical font-14px">11,2</td>
        <td class="ion-padding-vertical font-14px">12,0</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">34 a 39</td>
        <td class="ion-padding-vertical font-14px">21:30</td>
        <td class="ion-padding-vertical font-14px">20:16</td>
        <td class="ion-padding-vertical font-14px">19:44</td>
        <td class="ion-padding-vertical font-14px">18:56</td>
        <td class="ion-padding-vertical font-14px">18:08</td>
        <td class="ion-padding-vertical font-14px">17:04</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:43</td>
        <td class="ion-padding-vertical font-14px">06:20</td>
        <td class="ion-padding-vertical font-14px">06:10</td>
        <td class="ion-padding-vertical font-14px">05:55</td>
        <td class="ion-padding-vertical font-14px">05:40</td>
        <td class="ion-padding-vertical font-14px">05:20</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:41</td>
        <td class="ion-padding-vertical font-14px">02:32</td>
        <td class="ion-padding-vertical font-14px">02:28</td>
        <td class="ion-padding-vertical font-14px">02:22</td>
        <td class="ion-padding-vertical font-14px">02:16</td>
        <td class="ion-padding-vertical font-14px">02:08</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">8,9</td>
        <td class="ion-padding-vertical font-14px">9,5</td>
        <td class="ion-padding-vertical font-14px">9,7</td>
        <td class="ion-padding-vertical font-14px">10,1</td>
        <td class="ion-padding-vertical font-14px">10,6</td>
        <td class="ion-padding-vertical font-14px">11,2</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">40 a 45</td>
        <td class="ion-padding-vertical font-14px">23:20</td>
        <td class="ion-padding-vertical font-14px">22:24</td>
        <td class="ion-padding-vertical font-14px">21:36</td>
        <td class="ion-padding-vertical font-14px">20:32</td>
        <td class="ion-padding-vertical font-14px">19:28</td>
        <td class="ion-padding-vertical font-14px">18:24</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">07:17</td>
        <td class="ion-padding-vertical font-14px">07:00</td>
        <td class="ion-padding-vertical font-14px">06:45</td>
        <td class="ion-padding-vertical font-14px">06:25</td>
        <td class="ion-padding-vertical font-14px">06:05</td>
        <td class="ion-padding-vertical font-14px">05:45</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:55</td>
        <td class="ion-padding-vertical font-14px">02:48</td>
        <td class="ion-padding-vertical font-14px">02:42</td>
        <td class="ion-padding-vertical font-14px">02:34</td>
        <td class="ion-padding-vertical font-14px">02:26</td>
        <td class="ion-padding-vertical font-14px">02:18</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">8,2</td>
        <td class="ion-padding-vertical font-14px">8,6</td>
        <td class="ion-padding-vertical font-14px">8,9</td>
        <td class="ion-padding-vertical font-14px">9,3</td>
        <td class="ion-padding-vertical font-14px">9,9</td>
        <td class="ion-padding-vertical font-14px">10,4</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">46 a 49</td>
        <td class="ion-padding-vertical font-14px">24:32</td>
        <td class="ion-padding-vertical font-14px">23:44</td>
        <td class="ion-padding-vertical font-14px">22:56</td>
        <td class="ion-padding-vertical font-14px">21:52</td>
        <td class="ion-padding-vertical font-14px">20:48</td>
        <td class="ion-padding-vertical font-14px">19:44</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">07:40</td>
        <td class="ion-padding-vertical font-14px">07:25</td>
        <td class="ion-padding-vertical font-14px">07:10</td>
        <td class="ion-padding-vertical font-14px">06:50</td>
        <td class="ion-padding-vertical font-14px">06:30</td>
        <td class="ion-padding-vertical font-14px">06:10</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">03:04</td>
        <td class="ion-padding-vertical font-14px">02:58</td>
        <td class="ion-padding-vertical font-14px">02:52</td>
        <td class="ion-padding-vertical font-14px">02:44</td>
        <td class="ion-padding-vertical font-14px">02:36</td>
        <td class="ion-padding-vertical font-14px">02:28</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">7,8</td>
        <td class="ion-padding-vertical font-14px">8,1</td>
        <td class="ion-padding-vertical font-14px">8,4</td>
        <td class="ion-padding-vertical font-14px">8,8</td>
        <td class="ion-padding-vertical font-14px">9,2</td>
        <td class="ion-padding-vertical font-14px">9,7</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">50 a 54</td>
        <td class="ion-padding-vertical font-14px">26:40</td>
        <td class="ion-padding-vertical font-14px">25:52</td>
        <td class="ion-padding-vertical font-14px">24:32</td>
        <td class="ion-padding-vertical font-14px">23:12</td>
        <td class="ion-padding-vertical font-14px">21:52</td>
        <td class="ion-padding-vertical font-14px">20:32</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">08:20</td>
        <td class="ion-padding-vertical font-14px">08:05</td>
        <td class="ion-padding-vertical font-14px">07:40</td>
        <td class="ion-padding-vertical font-14px">07:15</td>
        <td class="ion-padding-vertical font-14px">06:50</td>
        <td class="ion-padding-vertical font-14px">06:25</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">03:20</td>
        <td class="ion-padding-vertical font-14px">03:14</td>
        <td class="ion-padding-vertical font-14px">03:04</td>
        <td class="ion-padding-vertical font-14px">02:54</td>
        <td class="ion-padding-vertical font-14px">02:44</td>
        <td class="ion-padding-vertical font-14px">02:34</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">7,2</td>
        <td class="ion-padding-vertical font-14px">7,4</td>
        <td class="ion-padding-vertical font-14px">7,8</td>
        <td class="ion-padding-vertical font-14px">8,3</td>
        <td class="ion-padding-vertical font-14px">8,8</td>
        <td class="ion-padding-vertical font-14px">9,3</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">55 a 60</td>
        <td class="ion-padding-vertical font-14px">27:28</td>
        <td class="ion-padding-vertical font-14px">26:24</td>
        <td class="ion-padding-vertical font-14px">25:04</td>
        <td class="ion-padding-vertical font-14px">23:44</td>
        <td class="ion-padding-vertical font-14px">22:24</td>
        <td class="ion-padding-vertical font-14px">21:04</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">08:35</td>
        <td class="ion-padding-vertical font-14px">08:15</td>
        <td class="ion-padding-vertical font-14px">07:50</td>
        <td class="ion-padding-vertical font-14px">07:25</td>
        <td class="ion-padding-vertical font-14px">07:00</td>
        <td class="ion-padding-vertical font-14px">06:35</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">03:26</td>
        <td class="ion-padding-vertical font-14px">03:18</td>
        <td class="ion-padding-vertical font-14px">03:08</td>
        <td class="ion-padding-vertical font-14px">02:58</td>
        <td class="ion-padding-vertical font-14px">02:48</td>
        <td class="ion-padding-vertical font-14px">02:38</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">7,0</td>
        <td class="ion-padding-vertical font-14px">7,3</td>
        <td class="ion-padding-vertical font-14px">7,7</td>
        <td class="ion-padding-vertical font-14px">8,1</td>
        <td class="ion-padding-vertical font-14px">8,6</td>
        <td class="ion-padding-vertical font-14px">9,1</td>
      </tr>

    </table>

</ion-content>
