ion-datetime {
    background: #FFF;
    color: #333;
}

ion-item ion-label {
    margin-bottom: 10px;
}

ion-item.item-has-focus ion-label{
    color: #F3AC04 !important;
    --color: #F3AC04 !important;
}