<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      VO₂ MÁX.
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">

 <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h1 class="font-22px text-bold">CÁLCULO DE vo₂ máx. - 2400m</h1>
    </ion-row>

    <ion-row class="ion-padding-bottom">
      <ion-item color="primary" class="full-width">
        <ion-label position="stacked">Tempo (min/seg):</ion-label>
        <!-- <ion-input type="time" [(ngModel)]="value"></ion-input> -->
        <ion-datetime displayFormat="mm:ss" [(ngModel)]="value"></ion-datetime>
      </ion-item>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-button 
        color="secondary"
        class="half-width"
        (click)="navigate('vo2-result')"
      >
      CALCULAR
    </ion-button>
    </ion-row>

 </ion-grid>

</ion-content>
