<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      VO₂ MÁX.
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">

  <ion-grid>

    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <h1 class="text-bold font-22px">CÁLCULO DE vO₂ MÁX.</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <div class="ion-text-center" color="secondary" class="imc-box">
          <h2 class="text-bold font-38px">{{result}}</h2>
          <h3 class="text-bold font-18px">{{description}}</h3>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-label color="secondary" (click)="navigate('vo2-table')">
        Ver tabela
      </ion-label>
    </ion-row>
  </ion-grid>
</ion-content>