<ion-header translucent="true" class="ion-no-border">
	<ion-toolbar color="primary" class="ion-align-items-center">
		<ion-buttons slot="start">
			<ion-back-button
				text=""
				defaultHref="index"
				icon="assets/images/arrow-left.svg"
			>
			</ion-back-button> 
		</ion-buttons>
		<h1 class="ion-no-padding ion-no-margin font-16px text-bold">
			Tabela
		</h1>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
	<ion-row class="ion-justify-content-center ion-margin-bottom">
		<div class="ion-text-center">
			<h2 class="font-18px">MASCULINO</h2>
			<h1 class="text-bold font-22px">Abdominal Remador</h1>
		</div>
	</ion-row>

	<table class="font-12px ion-margin-bottom">
		<tr>
			<th class="font-16px text-bold ion-padding-horizontal">Pontos <br />Idade</th>
			<th class="font-14px text-bold">50</th>
			<th class="font-14px text-bold">60</th>
			<th class="font-14px text-bold">70</th>
			<th class="font-14px text-bold">80</th>
			<th class="font-14px text-bold">90</th>
			<th class="font-14px text-bold">100</th>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">18 a 25</td>
			<td class="ion-padding-vertical">30</td>
			<td class="ion-padding-vertical">34</td>
			<td class="ion-padding-vertical">38</td>
			<td class="ion-padding-vertical">42</td>
			<td class="ion-padding-vertical">46</td>
			<td class="ion-padding-vertical">50</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">26 a 33</td>
			<td class="ion-padding-vertical">27</td>
			<td class="ion-padding-vertical">31</td>
			<td class="ion-padding-vertical">35</td>
			<td class="ion-padding-vertical">39</td>
			<td class="ion-padding-vertical">43</td>
			<td class="ion-padding-vertical">47</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">34 a 39</td>
			<td class="ion-padding-vertical">24</td>
			<td class="ion-padding-vertical">28</td>
			<td class="ion-padding-vertical">32</td>
			<td class="ion-padding-vertical">36</td>
			<td class="ion-padding-vertical">40</td>
			<td class="ion-padding-vertical">44</td>
		</tr>
    
		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">40 A 45</td>
			<td class="ion-padding-vertical">21</td>
			<td class="ion-padding-vertical">25</td>
			<td class="ion-padding-vertical">29</td>
			<td class="ion-padding-vertical">33</td>
			<td class="ion-padding-vertical">37</td>
			<td class="ion-padding-vertical">41</td>
    	</tr>
    
		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">46 A 49</td>
			<td class="ion-padding-vertical">18</td>
			<td class="ion-padding-vertical">22</td>
			<td class="ion-padding-vertical">26</td>
			<td class="ion-padding-vertical">30</td>
			<td class="ion-padding-vertical">34</td>
			<td class="ion-padding-vertical">38</td>
    	</tr>
    
    	<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">50 A 54</td>
			<td class="ion-padding-vertical">15</td>
			<td class="ion-padding-vertical">19</td>
			<td class="ion-padding-vertical">23</td>
			<td class="ion-padding-vertical">27</td>
			<td class="ion-padding-vertical">31</td>
			<td class="ion-padding-vertical">35</td>
    	</tr>
    
    	<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">55 A 60</td>
			<td class="ion-padding-vertical">12</td>
			<td class="ion-padding-vertical">16</td>
			<td class="ion-padding-vertical">20</td>
			<td class="ion-padding-vertical">24</td>
			<td class="ion-padding-vertical">28</td>
			<td class="ion-padding-vertical">32</td>
		</tr>
	</table>
</ion-content>
