<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
          onclick="  pauseActivity()"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold"
    >Atividade física
  </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="primary">

  <ion-grid>
      <ion-row class="ion-justify-content-center">
        <h1 class="font-22px">NOVA ATIVIDADE</h1>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2 class="ion-text-center font-38px text-bold">{{distance.toFixed(2)}}</h2>
          <p class="ion-text-center font-10px">Distância (metros)</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h3 class="ion-text-center font-24px text-bold">{{(speedAverage * 3.6).toFixed(2)}}</h3>
          <p class="ion-text-center font-10px">Velocidade média (km/h)</p>
        </ion-col>
        <ion-col>
          <h3 class="ion-text-center font-24px text-bold">
            {{minutes < 10 ? '0' + minutes : minutes}}:{{seconds < 10 ? '0' + seconds : seconds }}
          </h3>
          <p class="ion-text-center font-10px">Tempo </p>
        </ion-col>
        <ion-col>
          <h3 class="ion-text-center font-24px text-bold">{{pace}}</h3>
          <p class="ion-text-center font-10px">Pace (Tempo/km)</p>
        </ion-col>
        <ion-col>
          <h3 class="ion-text-center font-24px text-bold">{{this.calories.toFixed(2)}}</h3>
          <p class="ion-text-center font-10px">Gasto calórico</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-padding-bottom">
        <ion-button *ngIf="!isPaused" color="secondary" class="text-bold half-width" (click)="pauseActivity()">
          PAUSAR
        </ion-button>
        <ion-button *ngIf="isPaused" color="secondary" class="text-bold half-width" (click)="retakeActivity()">
          RETOMAR
        </ion-button>
        <ion-button color="secondary" class="text-bold half-width" (click)="registerActivity()">
          FINALIZAR
        </ion-button>
      </ion-row>

    
       
 
  </ion-grid>
