@import '../signin/signin.component.scss';

.birthday-label {
    height: 30px;
}

.birthday-row ion-select  {
    max-width: 100%;
    padding-left: 6px;
    height: 36px;
}

.birthday-label ion-label {
    max-height: 16px;
}

.birthday-row:nth-child(2) {
    width: 23%;
    margin-left: 7px;
}

.birthday-row:nth-child(3) {
    width: 35%;
    margin-right: 10px;
    margin-left: 10px;
}

.birthday-row:nth-child(4) {
    width: 27%;
}

.height-row,
.weight-row {
    width: 50%;
}

ion-button {
    height: 43px;
}

.ms::after {
    content: 'm';    
}