<ion-content color="primary">

  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <img src="assets/images/marinha.svg">
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h3 class="ion-text-center text-bold font-20px">
        TFM Marinha
      </h3>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <p class="ion-text-center font-14px">
        Aplicativo de condicionamento físico para os Homens e Mulheres do Mar
      </p>
    </ion-row>

  </ion-grid>

  <ion-grid class="ion-no-padding">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Nome</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Corpo</ion-label>
          <ion-select formControlName="brigade">
            <ion-select-option value="Fuzileiros Navais">Fuzileiros Navais</ion-select-option>
            <ion-select-option value="Outros">Outros corpos e quadros</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Gênero</ion-label>
          <ion-select formControlName="genre">
            <ion-select-option value= "MASCULINO">Masculino</ion-select-option>
            <ion-select-option value= "FEMININO">Feminino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">

        <ion-item color="primary" class="full-width" class="birthday-label">
          <ion-label position="stacked">Data de nascimento</ion-label>
        </ion-item>

        <div class="birthday-row">
            <ion-select placeholder="Dia" formControlName="birthday_day">
              <ion-select-option *ngFor="let day of days">{{day}}</ion-select-option>
            </ion-select>
          </div>

          <div class="birthday-row">
            <ion-select placeholder="Mês" formControlName="birthday_month" (ionChange)="updateDay()">
              <ion-select-option *ngFor="let month of months">{{month}}</ion-select-option>
            </ion-select>
          </div>

          <div class="birthday-row">
            <ion-select placeholder="Ano" formControlName="birthday_year">
              <ion-select-option *ngFor="let year of years">{{year}}</ion-select-option>
            </ion-select>
          </div>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary" class="height-row">
          <ion-label position="stacked">Altura (m)</ion-label>
         
            <ion-input type="text" [(ngModel)]="height" [ngModelOptions]="{standalone: true}" name="height" mask="0,00" sufix="m"></ion-input>
         
        </ion-item>

        <ion-item color="primary" class="weight-row">
          <ion-label position="stacked">Peso (kg)</ion-label>
          <ion-input type="text" formControlName="weight"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin-top">
        <div class="full-width d-flex ion-justify-content-center">
          <ion-button type="submit" color="light" class="text-bold">CADASTRAR</ion-button>
        </div>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <p class="font-14px full-width ion-text-center ion-text-nowrap">
          Já tem uma conta? 
          <span class="text-secondary text-bold" (click)="navigate('signin')">
            Entre aqui.
          </span>
        </p>
      </ion-row>


    </form>
  </ion-grid>

</ion-content>