<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        defaultHref="index"
        icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Histórico de atividades
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
  <ion-row class="ion-justify-content-center">
    <h1 class="font-22px text-bold">SEU HISTÓRICO</h1>
  </ion-row>

  <ion-toolbar color="primary">
    <ion-segment value="day" (ionChange)="segmentChanged($event.target.value)">
      <ion-segment-button value="day">
        <ion-label>DIA</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label>SEMANA</ion-label>
      </ion-segment-button>
      <ion-segment-button value="month">
        <ion-label>MÊS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card
    [hidden]="dataIsEmpty"
    class="welcome-card"
    color="primary"
    class="ion-no-margin"
  >
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-grid *ngIf="dataIsEmpty">
    <ion-row>
      <h5 class="ion-text-center text-bold ion-padding-horizontal">
        {{emptyMessage}}
      </h5>
    </ion-row>
  </ion-grid>
</ion-content>
