<ion-header translucent="true" class="ion-no-border">
	<ion-toolbar color="primary" class="ion-align-items-center">
		<ion-buttons slot="start">
			<ion-back-button
				text=""
				defaultHref="index"
				icon="assets/images/arrow-left.svg"
			>
			</ion-back-button>
		</ion-buttons>
		<h1 class="ion-no-padding ion-no-margin font-16px text-bold">
			Tabela
		</h1>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
	<ion-row class="ion-justify-content-center ion-margin-bottom">
		<div class="ion-text-center">
			<h2 class="font-18px">MASCULINO</h2>
			<h1 class="text-bold font-22px">Abdominal em Prancha Frontal</h1>
		</div>
	</ion-row>

	<table class="font-12px ion-margin-bottom">
		<tr>
			<th class="font-16px text-bold ion-padding-horizontal">Pontos <br />Idade</th>
			<th class="font-14px text-bold">50</th>
			<th class="font-14px text-bold">60</th>
			<th class="font-14px text-bold">70</th>
			<th class="font-14px text-bold">80</th>
			<th class="font-14px text-bold">90</th>
			<th class="font-14px text-bold">100</th>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">18 a 25</td>
			<td class="ion-padding-vertical">2:15</td>
			<td class="ion-padding-vertical">2:30</td>
			<td class="ion-padding-vertical">2:45</td>
			<td class="ion-padding-vertical">3:00</td>
			<td class="ion-padding-vertical">3:15</td>
			<td class="ion-padding-vertical">3:30</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">26 a 33</td>
			<td class="ion-padding-vertical">2:05</td>
			<td class="ion-padding-vertical">2:20</td>
			<td class="ion-padding-vertical">2:35</td>
			<td class="ion-padding-vertical">2:50</td>
			<td class="ion-padding-vertical">3:05</td>
			<td class="ion-padding-vertical">3:20</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">34 a 39</td>
			<td class="ion-padding-vertical">1:55</td>
			<td class="ion-padding-vertical">2:10</td>
			<td class="ion-padding-vertical">2:25</td>
			<td class="ion-padding-vertical">2:40</td>
			<td class="ion-padding-vertical">2:55</td>
			<td class="ion-padding-vertical">3:10</td>
		</tr>
    
		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">40 A 45</td>
			<td class="ion-padding-vertical">1:45</td>
			<td class="ion-padding-vertical">2:00</td>
			<td class="ion-padding-vertical">2:15</td>
			<td class="ion-padding-vertical">2:30</td>
			<td class="ion-padding-vertical">2:45</td>
			<td class="ion-padding-vertical">3:00</td>
    </tr>
    
    <tr class="font-14px text-bold">
			<td class="ion-padding-vertical">46 A 49</td>
			<td class="ion-padding-vertical">1:35</td>
			<td class="ion-padding-vertical">1:50</td>
			<td class="ion-padding-vertical">2:05</td>
			<td class="ion-padding-vertical">2:20</td>
			<td class="ion-padding-vertical">2:35</td>
			<td class="ion-padding-vertical">2:50</td>
    </tr>
    
    <tr class="font-14px text-bold">
			<td class="ion-padding-vertical">50 A 54</td>
			<td class="ion-padding-vertical">1:25</td>
			<td class="ion-padding-vertical">1:40</td>
			<td class="ion-padding-vertical">1:55</td>
			<td class="ion-padding-vertical">2:10</td>
			<td class="ion-padding-vertical">2:25</td>
			<td class="ion-padding-vertical">2:40</td>
    </tr>
    
    <tr class="font-14px text-bold">
			<td class="ion-padding-vertical">55 A 60</td>
			<td class="ion-padding-vertical">1:15</td>
			<td class="ion-padding-vertical">1:30</td>
			<td class="ion-padding-vertical">1:45</td>
			<td class="ion-padding-vertical">2:00</td>
			<td class="ion-padding-vertical">2:15</td>
			<td class="ion-padding-vertical">2:30</td>
		</tr>
	</table>
</ion-content>
