<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Tabela
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <h2 class="font-22px">MASCULINO</h2>
        <h1 class="text-bold">CORRIDA 2400m</h1>
      </div>
    </ion-row>

    <table class="font-12px ion-margin-bottom">
      <tr>
        <th class="font-16px text-bold">Pontos <br>Idade</th>
        <th class="font-14px text-bold">50</th>
        <th class="font-14px text-bold">60</th>
        <th class="font-14px text-bold">70</th>
        <th class="font-14px text-bold">80</th>
        <th class="font-14px text-bold">90</th>
        <th class="font-14px text-bold">100</th>
      </tr>

      <tr class="font-14px text-bold">
        <td class="ion-padding-vertical font-14px">18 a 25</td>
        <td class="ion-padding-vertical font-14px">14:30</td>
        <td class="ion-padding-vertical font-14px">13:30</td>
        <td class="ion-padding-vertical font-14px">12:18</td>
        <td class="ion-padding-vertical font-14px">11:18</td>
        <td class="ion-padding-vertical font-14px">10:12</td>
        <td class="ion-padding-vertical font-14px">09:36</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:02</td>
        <td class="ion-padding-vertical font-14px">05:37</td>
        <td class="ion-padding-vertical font-14px">05:07</td>
        <td class="ion-padding-vertical font-14px">04:42</td>
        <td class="ion-padding-vertical font-14px">04:15</td>
        <td class="ion-padding-vertical font-14px">04:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:25</td>
        <td class="ion-padding-vertical font-14px">02:15</td>
        <td class="ion-padding-vertical font-14px">02:03</td>
        <td class="ion-padding-vertical font-14px">01:53</td>
        <td class="ion-padding-vertical font-14px">01:42</td>
        <td class="ion-padding-vertical font-14px">01:36</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">9,9</td>
        <td class="ion-padding-vertical font-14px">10,6</td>
        <td class="ion-padding-vertical font-14px">11,7</td>
        <td class="ion-padding-vertical font-14px">12,7</td>
        <td class="ion-padding-vertical font-14px">14,1</td>
        <td class="ion-padding-vertical font-14px">15</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">26 a 33</td>
        <td class="ion-padding-vertical font-14px">15:00</td>
        <td class="ion-padding-vertical font-14px">14:00</td>
        <td class="ion-padding-vertical font-14px">12:42</td>
        <td class="ion-padding-vertical font-14px">11:42</td>
        <td class="ion-padding-vertical font-14px">10:36</td>
        <td class="ion-padding-vertical font-14px">10:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:15</td>
        <td class="ion-padding-vertical font-14px">05:50</td>
        <td class="ion-padding-vertical font-14px">05:17</td>
        <td class="ion-padding-vertical font-14px">04:52</td>
        <td class="ion-padding-vertical font-14px">04:25</td>
        <td class="ion-padding-vertical font-14px">04:10</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:30</td>
        <td class="ion-padding-vertical font-14px">02:20</td>
        <td class="ion-padding-vertical font-14px">02:07</td>
        <td class="ion-padding-vertical font-14px">01:57</td>
        <td class="ion-padding-vertical font-14px">01:46</td>
        <td class="ion-padding-vertical font-14px">01:40</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">9,6</td>
        <td class="ion-padding-vertical font-14px">10,3</td>
        <td class="ion-padding-vertical font-14px">11,3</td>
        <td class="ion-padding-vertical font-14px">12,3</td>
        <td class="ion-padding-vertical font-14px">13,6</td>
        <td class="ion-padding-vertical font-14px">14,4</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">34 a 39</td>
        <td class="ion-padding-vertical font-14px">15:30</td>
        <td class="ion-padding-vertical font-14px">14:30</td>
        <td class="ion-padding-vertical font-14px">13:24</td>
        <td class="ion-padding-vertical font-14px">12:24</td>
        <td class="ion-padding-vertical font-14px">11:36</td>
        <td class="ion-padding-vertical font-14px">10:48</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:27</td>
        <td class="ion-padding-vertical font-14px">06:02</td>
        <td class="ion-padding-vertical font-14px">05:36</td>
        <td class="ion-padding-vertical font-14px">05:10</td>
        <td class="ion-padding-vertical font-14px">04:50</td>
        <td class="ion-padding-vertical font-14px">04:30</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:35</td>
        <td class="ion-padding-vertical font-14px">02:25</td>
        <td class="ion-padding-vertical font-14px">02:14</td>
        <td class="ion-padding-vertical font-14px">02:04</td>
        <td class="ion-padding-vertical font-14px">01:56</td>
        <td class="ion-padding-vertical font-14px">01:48</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">9,3</td>
        <td class="ion-padding-vertical font-14px">9,9</td>
        <td class="ion-padding-vertical font-14px">10,7</td>
        <td class="ion-padding-vertical font-14px">11,6</td>
        <td class="ion-padding-vertical font-14px">12,4</td>
        <td class="ion-padding-vertical font-14px">13,3</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">40 a 45</td>
        <td class="ion-padding-vertical font-14px">16:24</td>
        <td class="ion-padding-vertical font-14px">15:36</td>
        <td class="ion-padding-vertical font-14px">14:18</td>
        <td class="ion-padding-vertical font-14px">13:00</td>
        <td class="ion-padding-vertical font-14px">12:24</td>
        <td class="ion-padding-vertical font-14px">11:36</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:50</td>
        <td class="ion-padding-vertical font-14px">06:30</td>
        <td class="ion-padding-vertical font-14px">05:57</td>
        <td class="ion-padding-vertical font-14px">05:25</td>
        <td class="ion-padding-vertical font-14px">05:10</td>
        <td class="ion-padding-vertical font-14px">04:50</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:44</td>
        <td class="ion-padding-vertical font-14px">02:36</td>
        <td class="ion-padding-vertical font-14px">02:23</td>
        <td class="ion-padding-vertical font-14px">02:10</td>
        <td class="ion-padding-vertical font-14px">02:04</td>
        <td class="ion-padding-vertical font-14px">01:56</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">8,8</td>
        <td class="ion-padding-vertical font-14px">9,2</td>
        <td class="ion-padding-vertical font-14px">10,1</td>
        <td class="ion-padding-vertical font-14px">11,1</td>
        <td class="ion-padding-vertical font-14px">11,6</td>
        <td class="ion-padding-vertical font-14px">12,4</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">46 a 49</td>
        <td class="ion-padding-vertical font-14px">17:30</td>
        <td class="ion-padding-vertical font-14px">16:12</td>
        <td class="ion-padding-vertical font-14px">15:24</td>
        <td class="ion-padding-vertical font-14px">14:36</td>
        <td class="ion-padding-vertical font-14px">14:00</td>
        <td class="ion-padding-vertical font-14px">13:12</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">07:17</td>
        <td class="ion-padding-vertical font-14px">06:45</td>
        <td class="ion-padding-vertical font-14px">06:25</td>
        <td class="ion-padding-vertical font-14px">06:05</td>
        <td class="ion-padding-vertical font-14px">05:50</td>
        <td class="ion-padding-vertical font-14px">05:30</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:55</td>
        <td class="ion-padding-vertical font-14px">02:42</td>
        <td class="ion-padding-vertical font-14px">02:34</td>
        <td class="ion-padding-vertical font-14px">02:26</td>
        <td class="ion-padding-vertical font-14px">02:20</td>
        <td class="ion-padding-vertical font-14px">02:12</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">8,2</td>
        <td class="ion-padding-vertical font-14px">8,9</td>
        <td class="ion-padding-vertical font-14px">9,3</td>
        <td class="ion-padding-vertical font-14px">9,9</td>
        <td class="ion-padding-vertical font-14px">10,3</td>
        <td class="ion-padding-vertical font-14px">10,9</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">> 50</td>
        <td class="ion-padding-vertical font-14px">18:48</td>
        <td class="ion-padding-vertical font-14px">17:24</td>
        <td class="ion-padding-vertical font-14px">16:42</td>
        <td class="ion-padding-vertical font-14px">16:00</td>
        <td class="ion-padding-vertical font-14px">15:36</td>
        <td class="ion-padding-vertical font-14px">14:48</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">07:50</td>
        <td class="ion-padding-vertical font-14px">07:15</td>
        <td class="ion-padding-vertical font-14px">06:57</td>
        <td class="ion-padding-vertical font-14px">06:40</td>
        <td class="ion-padding-vertical font-14px">06:30</td>
        <td class="ion-padding-vertical font-14px">06:10</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">03:08</td>
        <td class="ion-padding-vertical font-14px">02:54</td>
        <td class="ion-padding-vertical font-14px">02:47</td>
        <td class="ion-padding-vertical font-14px">02:40</td>
        <td class="ion-padding-vertical font-14px">02:36</td>
        <td class="ion-padding-vertical font-14px">02:28</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">6,7</td>
        <td class="ion-padding-vertical font-14px">8,3</td>
        <td class="ion-padding-vertical font-14px">8,6</td>
        <td class="ion-padding-vertical font-14px">9,0</td>
        <td class="ion-padding-vertical font-14px">9,2</td>
        <td class="ion-padding-vertical font-14px">9,7</td>
      </tr>

    </table>

</ion-content>
