.imc-box {
    background: var(--ion-color-light);
    color: var(--ion-color-primary);
    text-align: center;
    width: 65%;
    border-radius: 5px;
}

h2 {
    margin-bottom: unset;
}

h3 {
    margin-top: unset;
}

.termometer {
    height: 45px;
}

.container {
    width: 136.1px;
}

.termometer h4 {
    margin-bottom: unset;
}
.termometer p {
    margin-top: unset;;
}

.termometer-bar {
    height: 45px;
    width: 14px;
}

.termometer-trace {
    width: 10px;
    height: 3px;
    background: #FFF;
    margin-left: 10px;
    margin-right: 10px;;
}

.termometer-circle {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-left: -11.6px;

}

@media(min-height: 667px) {
    ion-grid:last-child {
       margin-top: 35px;
    }
}
