<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      IMC
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">

  <ion-grid>

    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <h1 class="text-bold font-22px">IMC</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <div class="ion-text-center" color="secondary" class="imc-box">
          <h2 class="text-bold font-38px">{{imc?.toFixed(2)}}</h2>
          <h3 class="text-bold font-18px">{{description}}</h3>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-label color="secondary" (click)="navigate('my-profile')">
        Atualizar peso
      </ion-label>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-center termometer">
      <div class="d-flex ion-align-items-center container">
        <div class="termometer-bar" style="background: #FF8800; border-top-left-radius: 10px; border-top-right-radius: 10px;"></div>
        <div class="termometer-trace"></div>
        <div>
          <h4 class="font-12px text-bold">ACIMA DE 40,0</h4>
          <p class="font-10px">Obesidade Grau III</p>
        </div>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center termometer">
      <div class="d-flex ion-align-items-center container">
        <div class="termometer-bar" style="background: #FFB504;"></div>
        <div class="termometer-trace"></div>
        <div>
          <h4 class="font-12px text-bold">35,0 - 39,9</h4>
          <p class="font-10px">Obesidade Grau II</p>
        </div>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center termometer">
      <div class="d-flex ion-align-items-center container">
        <div class="termometer-bar" style="background: #FFCB41;"></div>
        <div class="termometer-trace"></div>
        <div>
          <h4 class="font-12px text-bold">30,0 - 34,9</h4>
          <p class="font-10px">Obesidade Grau I</p>
        </div>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center termometer">
      <div class="d-flex ion-align-items-center container">
        <div class="termometer-bar" style="background: #FFD35E;"></div>
        <div class="termometer-trace"></div>
        <div>
          <h4 class="font-12px text-bold">25,0 - 29,9</h4>
          <p class="font-10px">Sobrepeso</p>
        </div>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center termometer">
      <div class="d-flex ion-align-items-center container">
        <div class="termometer-bar" style="background: #0FA83D;"></div>
        <div class="termometer-trace"></div>
        <div>
          <h4 class="font-12px text-bold">18,5 - 24,9</h4>
          <p class="font-10px">Peso normal</p>
        </div>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center termometer">
      <div class="d-flex ion-align-items-center container">
        <div class="termometer-bar" style="background: #FFEAB8;"></div>
        <div class="termometer-trace"></div>
        <div>
          <h4 class="font-12px text-bold">Menor que 18,5</h4>
          <p class="font-10px">Abaixo do peso</p>
        </div>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center termometer">
      <div class="d-flex ion-align-items-center container">
        <div class="termometer-circle" style="background: #FFEAB8;"></div>
      </div>
    </ion-row>    

  </ion-grid>

</ion-content>
