<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Tabela
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
    <ion-row class="ion-justify-content-center">
      <h1 class="font-18px">Classificação de vo₂ MÁX.</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h2 class="font-22px text-bold">MULHERES</h2>
    </ion-row>

    <table class="font-12px ion-margin-bottom ion-text-center">
      <tr>
        <th>Idade</th>
        <th>20-29</th>
        <th>30-39</th>
        <th>40-49</th>
        <th>50-59</th>
        <th>60-69</th>
      </tr>
      <tr>
        <td class="ion-padding-vertical font-14px">Muito fraca</td>
        <td class="ion-padding-vertical font-14px">23</td>
        <td class="ion-padding-vertical font-14px">19</td>
        <td class="ion-padding-vertical font-14px">16</td>
        <td class="ion-padding-vertical font-14px">14</td>
        <td class="ion-padding-vertical font-14px">12</td>
      </tr>
      <tr>
        <td class="ion-padding-vertical font-14px">Fraca</td>
        <td class="ion-padding-vertical font-14px">24-30</td>
        <td class="ion-padding-vertical font-14px">20-27</td>
        <td class="ion-padding-vertical font-14px">17-23</td>
        <td class="ion-padding-vertical font-14px">15-20</td>
        <td class="ion-padding-vertical font-14px">13-17</td>
      </tr>
      <tr>
        <td class="ion-padding-vertical font-14px">Regular</td>
        <td class="ion-padding-vertical font-14px">31-37</td>
        <td class="ion-padding-vertical font-14px">28-33</td>
        <td class="ion-padding-vertical font-14px">24-30</td>
        <td class="ion-padding-vertical font-14px">21-27</td>
        <td class="ion-padding-vertical font-14px">18-23</td>
      </tr>
      <tr>
        <td class="ion-padding-vertical font-14px">Bom</td>
        <td class="ion-padding-vertical font-14px">38-48</td>
        <td class="ion-padding-vertical font-14px">34-44</td>
        <td class="ion-padding-vertical font-14px">31-41</td>
        <td class="ion-padding-vertical font-14px">28-37</td>
        <td class="ion-padding-vertical font-14px">24-34</td>
      </tr>
      <tr>
        <td class="ion-padding-vertical font-14px">Excelente</td>
        <td class="ion-padding-vertical font-14px">> 49</td>
        <td class="ion-padding-vertical font-14px">> 45</td>
        <td class="ion-padding-vertical font-14px">> 42</td>
        <td class="ion-padding-vertical font-14px">> 38</td>
        <td class="ion-padding-vertical font-14px">> 35</td>
      </tr>
    </table>

      <ion-row class="ion-justify-content-center">
        <h2 class="font-22px text-bold">HOMENS</h2>
      </ion-row>
  
      <table class="font-12px ion-margin-bottom ion-text-center">
        <tr>
          <th>Idade</th>
          <th>20-29</th>
          <th>30-39</th>
          <th>40-49</th>
          <th>50-59</th>
          <th>60-69</th>
        </tr>
        <tr>
          <td class="ion-padding-vertical font-14px">Muito fraca</td>
          <td class="ion-padding-vertical font-14px">24</td>
          <td class="ion-padding-vertical font-14px">22</td>
          <td class="ion-padding-vertical font-14px">19</td>
          <td class="ion-padding-vertical font-14px">17</td>
          <td class="ion-padding-vertical font-14px">16</td>
        </tr>
        <tr>
          <td class="ion-padding-vertical font-14px">Fraca</td>
          <td class="ion-padding-vertical font-14px">25-33</td>
          <td class="ion-padding-vertical font-14px">23-30</td>
          <td class="ion-padding-vertical font-14px">20-26</td>
          <td class="ion-padding-vertical font-14px">18-24</td>
          <td class="ion-padding-vertical font-14px">16-12</td>
        </tr>
        <tr>
          <td class="ion-padding-vertical font-14px">Regular</td>
          <td class="ion-padding-vertical font-14px">34-42</td>
          <td class="ion-padding-vertical font-14px">31-38</td>
          <td class="ion-padding-vertical font-14px">27-35</td>
          <td class="ion-padding-vertical font-14px">25-33</td>
          <td class="ion-padding-vertical font-14px">23-30</td>
        </tr>
        <tr>
          <td class="ion-padding-vertical font-14px">Bom</td>
          <td class="ion-padding-vertical font-14px">43-52</td>
          <td class="ion-padding-vertical font-14px">39-48</td>
          <td class="ion-padding-vertical font-14px">36-44</td>
          <td class="ion-padding-vertical font-14px">34-42</td>
          <td class="ion-padding-vertical font-14px">31-40</td>
        </tr>
        <tr>
          <td class="ion-padding-vertical font-14px">Excelente</td>
          <td class="ion-padding-vertical font-14px">> 53</td>
          <td class="ion-padding-vertical font-14px">> 49</td>
          <td class="ion-padding-vertical font-14px">> 45</td>
          <td class="ion-padding-vertical font-14px">> 43</td>
          <td class="ion-padding-vertical font-14px">> 41</td>
        </tr>
    </table>

</ion-content>
