@import '../activity-history/activity-history.page.scss';

h2 {
    color: #FFF;
}

table {
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
}

table:last-child {
    padding-bottom: 30px; 
}

td {
    border: 1px solid #FFF;
}