<ion-header class="ion-no-border index-common">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
    Dicas
  </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscren="true" color="primary">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h1 class="font-22px text-bold">PDF COM DICAS DE:</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ul class="ion-no-padding font-14px">
        <li>Condicionamento físico</li>
        <li>Nutrição esportiva</li>
        <li>Prevenção de lesões</li>
      </ul>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-button color="secondary" class="half-width ion-margin-top text-bold">
        <a href="https://drive.google.com/file/d/1G1jRqCr-DPSAybrQXJMqmj9mODfDZgFR/view">
          VISUALIZAR
        </a>
      </ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid>
    
    <ion-row class="ion-nowrap ion-padding-vertical" style="padding: 0px 15px;">
      <ion-col style="width: 30%;">   
        <img src="assets/images/cefan.png" style="height: 65px;margin-left: 2px;">
        <p style="margin: 0px; font-size:13px;" >&nbsp;&nbsp;CDM&nbsp;</p>
      </ion-col>
      <div style="display: flex;align-items: center;">
        <p class="font-14px" style="text-align: center;">Na vanguarda do condicionamento físico de Marinheiros e Fuzileiros Navais.</p>
      </div>
      <ion-col>      
          <img src="assets/images/cefan1.png" style="height: 65px;">    
          <p style="margin: 0px; font-size:13px;">CEFAN</p>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
