<ion-header translucent="true" class="ion-no-border">
	<ion-toolbar color="primary" class="ion-align-items-center">
		<ion-buttons slot="start">
			<ion-back-button
				text=""
				defaultHref="index"
				icon="assets/images/arrow-left.svg"
			>
			</ion-back-button>
		</ion-buttons>
		<h1 class="ion-no-padding ion-no-margin font-16px text-bold">
			Tabela
		</h1>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
	<ion-row class="ion-justify-content-center">
		<div class="ion-text-center">
			<h2 class="font-22px">MASCULINO</h2>
			<h1 class="text-bold">CAMINHADA 4800m</h1>
		</div>
	</ion-row>

	<table class="font-12px ion-margin-bottom">
		<tr>
			<th class="font-16px text-bold ion-padding-horizontal">Pontos <br />Idade</th>
			<th class="font-14px text-bold">50</th>
			<th class="font-14px text-bold">60</th>
			<th class="font-14px text-bold">70</th>
			<th class="font-14px text-bold">80</th>
			<th class="font-14px text-bold">90</th>
			<th class="font-14px text-bold">100</th>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">18 a 25</td>
			<td class="ion-padding-vertical">48</td>
			<td class="ion-padding-vertical">46</td>
			<td class="ion-padding-vertical">44</td>
			<td class="ion-padding-vertical">42</td>
			<td class="ion-padding-vertical">40</td>
			<td class="ion-padding-vertical">38</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">26 a 33</td>
			<td class="ion-padding-vertical">49</td>
			<td class="ion-padding-vertical">47</td>
			<td class="ion-padding-vertical">45</td>
			<td class="ion-padding-vertical">43</td>
			<td class="ion-padding-vertical">41</td>
			<td class="ion-padding-vertical">39</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">34 a 39</td>
			<td class="ion-padding-vertical">51</td>
			<td class="ion-padding-vertical">48</td>
			<td class="ion-padding-vertical">46</td>
			<td class="ion-padding-vertical">44</td>
			<td class="ion-padding-vertical">42</td>
			<td class="ion-padding-vertical">40</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">40 a 45</td>
			<td class="ion-padding-vertical">54</td>
			<td class="ion-padding-vertical">51</td>
			<td class="ion-padding-vertical">48</td>
			<td class="ion-padding-vertical">46</td>
			<td class="ion-padding-vertical">44</td>
			<td class="ion-padding-vertical">42</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">45 a 49</td>
			<td class="ion-padding-vertical">56</td>
			<td class="ion-padding-vertical">53</td>
			<td class="ion-padding-vertical">50</td>
			<td class="ion-padding-vertical">47</td>
			<td class="ion-padding-vertical">45</td>
			<td class="ion-padding-vertical">43</td>
    </tr>
    
		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">> 50</td>
			<td class="ion-padding-vertical">58</td>
			<td class="ion-padding-vertical">55</td>
			<td class="ion-padding-vertical">52</td>
			<td class="ion-padding-vertical">49</td>
			<td class="ion-padding-vertical">47</td>
			<td class="ion-padding-vertical">45</td>
		</tr>
	</table>
</ion-content>
