<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Tabela
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <h2 class="font-22px">FEMININO</h2>
        <h1 class="text-bold">CORRIDA 2400m</h1>
      </div>
    </ion-row>

    <table class="font-12px ion-margin-bottom">
      <tr>
        <th class="font-16px text-bold">Pontos <br>Idade</th>
        <th class="font-14px text-bold">50</th>
        <th class="font-14px text-bold">60</th>
        <th class="font-14px text-bold">70</th>
        <th class="font-14px text-bold">80</th>
        <th class="font-14px text-bold">90</th>
        <th class="font-14px text-bold">100</th>
      </tr>

      <tr class="font-14px text-bold">
        <td class="ion-padding-vertical font-14px">18 a 25</td>
        <td class="ion-padding-vertical font-14px">15:40</td>
        <td class="ion-padding-vertical font-14px">15:00</td>
        <td class="ion-padding-vertical font-14px">14:06</td>
        <td class="ion-padding-vertical font-14px">13:12</td>
        <td class="ion-padding-vertical font-14px">11:48</td>
        <td class="ion-padding-vertical font-14px">11:12</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:31</td>
        <td class="ion-padding-vertical font-14px">06:15</td>
        <td class="ion-padding-vertical font-14px">05:52</td>
        <td class="ion-padding-vertical font-14px">05:30</td>
        <td class="ion-padding-vertical font-14px">04:30</td>
        <td class="ion-padding-vertical font-14px">04:40</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:36</td>
        <td class="ion-padding-vertical font-14px">02:30</td>
        <td class="ion-padding-vertical font-14px">02:21</td>
        <td class="ion-padding-vertical font-14px">02:12</td>
        <td class="ion-padding-vertical font-14px">01:48</td>
        <td class="ion-padding-vertical font-14px">01:52</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">9,2</td>
        <td class="ion-padding-vertical font-14px">9,6</td>
        <td class="ion-padding-vertical font-14px">10,2</td>
        <td class="ion-padding-vertical font-14px">10,9</td>
        <td class="ion-padding-vertical font-14px">12,2</td>
        <td class="ion-padding-vertical font-14px">12.9</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">26 a 33</td>
        <td class="ion-padding-vertical font-14px">16:16</td>
        <td class="ion-padding-vertical font-14px">15:30</td>
        <td class="ion-padding-vertical font-14px">14:36</td>
        <td class="ion-padding-vertical font-14px">13:42</td>
        <td class="ion-padding-vertical font-14px">12:48</td>
        <td class="ion-padding-vertical font-14px">12:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:46</td>
        <td class="ion-padding-vertical font-14px">06:27</td>
        <td class="ion-padding-vertical font-14px">06:05</td>
        <td class="ion-padding-vertical font-14px">05:42</td>
        <td class="ion-padding-vertical font-14px">05:20</td>
        <td class="ion-padding-vertical font-14px">05:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:42</td>
        <td class="ion-padding-vertical font-14px">02:35</td>
        <td class="ion-padding-vertical font-14px">02:26</td>
        <td class="ion-padding-vertical font-14px">02:17</td>
        <td class="ion-padding-vertical font-14px">02:08</td>
        <td class="ion-padding-vertical font-14px">02:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">8,8</td>
        <td class="ion-padding-vertical font-14px">9,3</td>
        <td class="ion-padding-vertical font-14px">9,9</td>
        <td class="ion-padding-vertical font-14px">10,5</td>
        <td class="ion-padding-vertical font-14px">11,2</td>
        <td class="ion-padding-vertical font-14px">12,0</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">34 a 39</td>
        <td class="ion-padding-vertical font-14px">16:40</td>
        <td class="ion-padding-vertical font-14px">16:18</td>
        <td class="ion-padding-vertical font-14px">15:36</td>
        <td class="ion-padding-vertical font-14px">14:30</td>
        <td class="ion-padding-vertical font-14px">13:36</td>
        <td class="ion-padding-vertical font-14px">12:48</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">06:56</td>
        <td class="ion-padding-vertical font-14px">06:47</td>
        <td class="ion-padding-vertical font-14px">06:30</td>
        <td class="ion-padding-vertical font-14px">06:02</td>
        <td class="ion-padding-vertical font-14px">05:40</td>
        <td class="ion-padding-vertical font-14px">05:20</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:46</td>
        <td class="ion-padding-vertical font-14px">02:43</td>
        <td class="ion-padding-vertical font-14px">02:36</td>
        <td class="ion-padding-vertical font-14px">02:25</td>
        <td class="ion-padding-vertical font-14px">02:16</td>
        <td class="ion-padding-vertical font-14px">02:08</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">8,6</td>
        <td class="ion-padding-vertical font-14px">8,8</td>
        <td class="ion-padding-vertical font-14px">9,2</td>
        <td class="ion-padding-vertical font-14px">9,9</td>
        <td class="ion-padding-vertical font-14px">10,6</td>
        <td class="ion-padding-vertical font-14px">11.2</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">40 a 45</td>
        <td class="ion-padding-vertical font-14px">17:52</td>
        <td class="ion-padding-vertical font-14px">17:18</td>
        <td class="ion-padding-vertical font-14px">16:18</td>
        <td class="ion-padding-vertical font-14px">15:24</td>
        <td class="ion-padding-vertical font-14px">14:36</td>
        <td class="ion-padding-vertical font-14px">13:36</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">07:26</td>
        <td class="ion-padding-vertical font-14px">07:12</td>
        <td class="ion-padding-vertical font-14px">06:30</td>
        <td class="ion-padding-vertical font-14px">06:25</td>
        <td class="ion-padding-vertical font-14px">06:05</td>
        <td class="ion-padding-vertical font-14px">05:40</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">02:58</td>
        <td class="ion-padding-vertical font-14px">02:53</td>
        <td class="ion-padding-vertical font-14px">02:36</td>
        <td class="ion-padding-vertical font-14px">02:34</td>
        <td class="ion-padding-vertical font-14px">02:26</td>
        <td class="ion-padding-vertical font-14px">02:16</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">8,1</td>
        <td class="ion-padding-vertical font-14px">8,3</td>
        <td class="ion-padding-vertical font-14px">8,8</td>
        <td class="ion-padding-vertical font-14px">9,3</td>
        <td class="ion-padding-vertical font-14px">9,9</td>
        <td class="ion-padding-vertical font-14px">10,6</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">46 a 49</td>
        <td class="ion-padding-vertical font-14px">18:58</td>
        <td class="ion-padding-vertical font-14px">18:18</td>
        <td class="ion-padding-vertical font-14px">17:18</td>
        <td class="ion-padding-vertical font-14px">16:24</td>
        <td class="ion-padding-vertical font-14px">15:24</td>
        <td class="ion-padding-vertical font-14px">14:24</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">07:54</td>
        <td class="ion-padding-vertical font-14px">07:37</td>
        <td class="ion-padding-vertical font-14px">07:12</td>
        <td class="ion-padding-vertical font-14px">06:50</td>
        <td class="ion-padding-vertical font-14px">06:25</td>
        <td class="ion-padding-vertical font-14px">06:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">03:09</td>
        <td class="ion-padding-vertical font-14px">03:03</td>
        <td class="ion-padding-vertical font-14px">02:53</td>
        <td class="ion-padding-vertical font-14px">02:44</td>
        <td class="ion-padding-vertical font-14px">02:34</td>
        <td class="ion-padding-vertical font-14px">02:24</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">7,6</td>
        <td class="ion-padding-vertical font-14px">7,9</td>
        <td class="ion-padding-vertical font-14px">8,3</td>
        <td class="ion-padding-vertical font-14px">8,9</td>
        <td class="ion-padding-vertical font-14px">9,3</td>
        <td class="ion-padding-vertical font-14px">10,0</td>
      </tr>

      <tr class="text-bold">
        <td class="ion-padding-vertical font-14px">>50</td>
        <td class="ion-padding-vertical font-14px">20:04</td>
        <td class="ion-padding-vertical font-14px">19:30</td>
        <td class="ion-padding-vertical font-14px">18:36</td>
        <td class="ion-padding-vertical font-14px">17:30</td>
        <td class="ion-padding-vertical font-14px">17:00</td>
        <td class="ion-padding-vertical font-14px">16:00</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Pace (min/km)</td>
        <td class="ion-padding-vertical font-14px">08:21</td>
        <td class="ion-padding-vertical font-14px">08:07</td>
        <td class="ion-padding-vertical font-14px">07:45</td>
        <td class="ion-padding-vertical font-14px">07:17</td>
        <td class="ion-padding-vertical font-14px">07:05</td>
        <td class="ion-padding-vertical font-14px">06:40</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Tempo/volta</td>
        <td class="ion-padding-vertical font-14px">03:20</td>
        <td class="ion-padding-vertical font-14px">03:15</td>
        <td class="ion-padding-vertical font-14px">03:06</td>
        <td class="ion-padding-vertical font-14px">02:55</td>
        <td class="ion-padding-vertical font-14px">02:50</td>
        <td class="ion-padding-vertical font-14px">02:40</td>
      </tr>

      <tr>
        <td class="ion-padding-vertical font-10px">Vel. (km/h)</td>
        <td class="ion-padding-vertical font-14px">7,2</td>
        <td class="ion-padding-vertical font-14px">7,4</td>
        <td class="ion-padding-vertical font-14px">7,7</td>
        <td class="ion-padding-vertical font-14px">8,2</td>
        <td class="ion-padding-vertical font-14px">8,5</td>
        <td class="ion-padding-vertical font-14px">9,0</td>
      </tr>

    </table>

</ion-content>
