ion-grid {
  width: 274px;
}

ion-button {
width: 255px;
font-weight: 600;
}

ion-row:first-child {
  margin-top: 5vh;
}

ion-row:last-child {
  margin-top: 5vh;
}

@media (min-height: 700px) {
  ion-row:first-child {
    margin-top: 15vh;
  }

  ion-row:last-child {
    margin-top: 13vh;
  }
}




