<ion-content color="primary">
  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <img src="assets/images/marinha.svg">
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h3 class="ion-text-center text-bold font-20px">
        TFM Marinha
      </h3>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <p class="ion-text-center font-14px">
        Aplicativo de condicionamento físico para os Homens e Mulheres do Mar
      </p>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button color="light font-14px" (click)="navigate('signin')">
        ENTRAR
      </ion-button>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
      <ion-button color="light font-14px" (click)="navigate('signup')">
        CADASTRAR-SE
      </ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <p class="ion-text-center font-12px">
        Na vanguarda do condicionamento físico de Marinheiros e Fuzileiros Navais.
      </p>
    </ion-row>

  </ion-grid>
</ion-content>