<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2" class="d-flex ion-align-items-center ion-justify-content-center">
        <img src="assets/images/marinha.svg">
      </ion-col>
      <ion-col size="8">
        <h1 class="ion-text-center text-bold font-20px">TFM Marinha</h1>
        <p class="ion-text-center font-14px">Aplicativo de condicionamento físico para os Homens e Mulheres do Mar</p>
      </ion-col>
      <ion-col size="2" class="d-flex ion-align-items-center ion-justify-content-center">
        <img src="assets/images/cfn.png">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-list lines="none" class="ion-no-padding bg-primary">
    <ion-item color="primary" class="d-flex" (click)="navigate('new-activity')">
      <ion-label class="text-bold font-16px">ATIVIDADE FÍSICA</ion-label>
      <img src="assets/images/arrow-right.svg">
    </ion-item>
    <ion-item color="primary" class="d-flex" (click)="navigate('my-indicies')">
      <ion-label class="text-bold font-16px">MEUS ÍNDICES</ion-label>
      <img src="assets/images/arrow-right.svg">
    </ion-item>
    <ion-item color="primary" class="d-flex" (click)="navigate('taf-a-indicies')">
      <ion-label class="text-bold font-16px">ÍNDICES DO TAF-a</ion-label>
      <img src="assets/images/arrow-right.svg">
    </ion-item>
    <ion-item color="primary" class="d-flex" (click)="navigate('tips')">
      <ion-label class="text-bold font-16px">DICAS</ion-label>
      <img src="assets/images/arrow-right.svg">
    </ion-item>
    <ion-item color="primary" class="d-flex" (click)="navigate('my-profile')">
      <ion-label class="text-bold font-16px">MEU PERFIL</ion-label>
      <img src="assets/images/arrow-right.svg">
    </ion-item>
  </ion-list>


  <ion-grid>
    
    <ion-row class="ion-nowrap ion-padding-vertical" style="padding: 0px 15px;">
      <ion-col style="width: 30%;">   
        <img src="assets/images/cefan.png" style="height: 65px;margin-left: 2px;">
        <p style="margin: 0px; font-size:13px;" >&nbsp;&nbsp;CDM&nbsp;</p>
      </ion-col>
      <div style="display: flex;align-items: center;">
        <p class="font-14px" style="text-align: center;">Na vanguarda do condicionamento físico de Marinheiros e Fuzileiros Navais.</p>
      </div>
      <ion-col>      
          <img src="assets/images/cefan1.png" style="height: 65px;">    
          <p style="margin: 0px; font-size:13px;">CEFAN</p>
      </ion-col>
      
    </ion-row>
  </ion-grid>

