ion-col:first-child img {
    width: 53px;
    height: 72px
}

ion-col:last-child img {
    width: 60px;
    height: 56px;
}

ion-item {
    border-bottom: 1px solid #3d447a;
    height: 65px;
}

.ion-grid-padding {
    padding-top: 8vh;
}