<ion-header translucent="true" class="ion-no-border">
	<ion-toolbar color="primary" class="ion-align-items-center">
		<ion-buttons slot="start">
			<ion-back-button
				text=""
				defaultHref="index"
				icon="assets/images/arrow-left.svg"
			>
			</ion-back-button>
		</ion-buttons>
		<h1 class="ion-no-padding ion-no-margin font-16px text-bold">
			Tabela
		</h1>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
	<ion-row class="ion-justify-content-center">
		<div class="ion-text-center">
			<h2 class="font-22px">FEMININO</h2>
			<h1 class="text-bold">NATAÇÃO 100m</h1>
		</div>
	</ion-row>

	<table class="font-12px ion-margin-bottom">
		<tr>
			<th class="font-16px text-bold ion-padding-horizontal">Pontos <br />Idade</th>
			<th class="font-14px text-bold">50</th>
			<th class="font-14px text-bold">60</th>
			<th class="font-14px text-bold">70</th>
			<th class="font-14px text-bold">80</th>
			<th class="font-14px text-bold">90</th>
			<th class="font-14px text-bold">100</th>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">18 a 30</td>
			<td class="ion-padding-vertical">04:00</td>
			<td class="ion-padding-vertical">03:40</td>
			<td class="ion-padding-vertical">03:20</td>
			<td class="ion-padding-vertical">03:00</td>
			<td class="ion-padding-vertical">02:40</td>
			<td class="ion-padding-vertical">02:20</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">31 a 40</td>
			<td class="ion-padding-vertical">04:10</td>
			<td class="ion-padding-vertical">03:50</td>
			<td class="ion-padding-vertical">03:30</td>
			<td class="ion-padding-vertical">03:10</td>
			<td class="ion-padding-vertical">02:50</td>
			<td class="ion-padding-vertical">02:30</td>
		</tr>

		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">41 a 49</td>
			<td class="ion-padding-vertical">04:20</td>
			<td class="ion-padding-vertical">04:00</td>
			<td class="ion-padding-vertical">03:40</td>
			<td class="ion-padding-vertical">03:20</td>
			<td class="ion-padding-vertical">03:00</td>
			<td class="ion-padding-vertical">02:40</td>
		</tr>
    
		<tr class="font-14px text-bold">
			<td class="ion-padding-vertical">> 50</td>
			<td class="ion-padding-vertical">04:30</td>
			<td class="ion-padding-vertical">04:10</td>
			<td class="ion-padding-vertical">03:50</td>
			<td class="ion-padding-vertical">03:30</td>
			<td class="ion-padding-vertical">03:10</td>
			<td class="ion-padding-vertical">02:50</td>
		</tr>
	</table>
</ion-content>
