ion-item {
    width: 85%;
    margin-bottom: 25px;
    --highlight-height: 0

}

ion-item ion-label {
    margin-bottom: 10px;
}

ion-item.item-has-focus ion-label {
    color: var(--ion-color-secondary);
    --color: var(--ion-color-secondary);
}


ion-input {
    background: #FFF;
    color: #333;
}

th,
td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E7E7E7;
}

div {
    background: #FFF;
    padding-left: 36px;
    padding-right: 36px;
}

div h1 {
    color: var(--ion-color-primary);
    --color: var(--ion-color-primary);
    margin-top: unset;
    letter-spacing: -1px;
}

div h2 {
    color: #0B0B0C;
}

.mb-8px {
    margin-bottom: 8px;
}


