<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        defaultHref="index"
        icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Meus índices
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
  <ion-grid *ngIf="!historicMode">
    <ion-row class="ion-justify-content-center">
      <h1 class="font-22px text-bold">AVALIE SEU PERÍMETRO</h1>
    </ion-row>

    <ion-row>
      <form
        #f="ngForm"
        (ngSubmit)="onSubmit()"
        class="d-flex flex-column ion-align-items-center full-width"
      >
        <ion-item color="primary">
          <ion-label class="font-14px" position="stacked"
            >Valor (em cm):</ion-label
          >
          <ion-input
            type="number"
            [(ngModel)]="perimeter"
            name="perimeter"
          ></ion-input>
        </ion-item>
        <ion-button type="submit" color="secondary" class="half-width text-bold"
          >AVALIAR</ion-button
        >
      </form>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isAvaliable || historicMode">
    <ion-row class="ion-justify-content-center ion-padding-top">
      <h1 class="font-22px text-bold">SEU HISTÓRICO</h1>
    </ion-row>

    <table
      class="ion-margin-bottom ion-text-center full-width ion-padding-top"
      *ngFor="let per of perimeters, let i= index"
    >
      <tr>
        <th class="font-14px">
          {{getMonthExtension(per.created_at).toLocaleUpperCase()}}
        </th>
      </tr>
      <tr>
        <td class="font-14px">
          {{per.value}} cm - {{perimeters[i + 1] === undefined ? 'INICIAL':
          perimeters[i + 1].value < perimeters[i].value ? 'AUMENTADO':
          'DIMINUÍDO' }}
        </td>
      </tr>
    </table>
  </ion-grid>

  <ion-grid *ngIf="isAvaliable">
    <ion-row class="mb-8px">
      <div class="full-width">
        <h2 class="ion-text-center font-14px">
          Risco de desenvolvimento de doenças cardíacas:
        </h2>
        <h1 class="ion-text-center text-bold font-22px" color="primary">
          {{ ( (perimeter >= 102 && user.genre == 'MASCULINO') || (perimeter >=
          88 && user.genre == 'FEMININO')) ? 'AUMENTADO SUBSTÂNCIALMENTE': (
          (perimeter >= 94 && user.genre == 'MASCULINO') || (perimeter >= 80 &&
          user.genre == 'FEMININO')) ? 'AUMENTADO':'Normal'}}
        </h1>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center mb-8px">
      <ion-label class="font-13px text-secondary" (click)="presentAlert()"
        >Ver tabela</ion-label
      >
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-label class="font-13px text-secondary" (click)="historicMode = true"
        >Ver histórico</ion-label
      >
    </ion-row>
  </ion-grid>
</ion-content>
