h2,
h3 {
    color: #FFEAB8;
}

th {
    border: 1px solid #FFF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

tbody tr {
    border-bottom: 1px solid #FFF;
}