<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Histórico de atividades
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
    <ion-row class="ion-justify-content-center">
      <h1 class="font-22px text-bold">SEU HISTÓRICO</h1>
    </ion-row>

    <table class="font-12px ion-margin-bottom">
      <tr>
        <th>Distância percorrida</th>
        <th>Vel. média</th>
        <th>Tempo</th>
        <th>Pace (tempo/km)</th>
        <th>Gasto calórico</th>
      </tr>
      <tbody class="ion-text-center" *ngFor="let activity of activities" >
        <tr class="font-14px">
          <td colspan="5" class="ion-text-center ion-padding-vertical">{{ viewMoment(activity.created_at, 'D') + ' de '+ viewMoment(activity.created_at, 'MMMM')+ ' de '+ viewMoment(activity.created_at, 'YYYY') | uppercase}}</td>
        </tr>
        <tr>
          <td class="ion-padding-vertical font-14px">{{activity.distance.toFixed(2)}}m</td>
          <td class="ion-padding-vertical font-14px">{{(activity.average_speed * 3.6).toFixed(2)}}</td>
          <td class="ion-padding-vertical font-14px">{{activity.time}}</td>
          <td class="ion-padding-vertical font-14px">{{activity.pace.toString().substr(0, 5)}}</td>
          <td class="ion-padding-vertical font-14px">{{activity.caloric.toFixed(2)}}kcal</td>
        </tr>
      </tbody>
      <tr *ngIf="activities.length === 0">
        <td colspan="5" class="ion-padding-top font-16px ion-text-center">
          Nenhuma atividade encontrada        
        </td>
      </tr>
    </table>

    <ion-row *ngIf="activities.length !== 0" class="ion-justify-content-center ion-padding-vertical">
      <ion-button color="secondary" class="half-width" routerLink="/activity-history-chart">
        Ver gráfico
      </ion-button>
    </ion-row>
</ion-content>
