ion-grid:first-child {
    width: 275px;
}

ion-grid:last-child {
    width: 323px;
}

img {
    width: 88px;
    height: 118px;
}

ion-grid:first-child ion-row:first-child {
    margin-top: 5vh;
}

ion-item {
    width: 100%;
    --highlight-height: 0
}

ion-item ion-label {
    margin-bottom: 10px;
}

ion-item.item-has-focus ion-label{
    color: #F3AC04 !important;
    --color: #F3AC04 !important;
}

ion-input,
ion-select {
    background-color: #FFF;
    color: #333;
}

ion-button {
    width: 255px;
    height: 100%;
}

@media (min-height: 700px) {
    ion-grid:first-child ion-row:first-child {
        margin-top: 10vh;
    }
}



