<ion-content color="primary">

  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <img src="assets/images/marinha.svg">
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h3 class="ion-text-center text-bold font-20px">
        TFM Marinha
      </h3>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <p class="ion-text-center font-14px">
        Aplicativo de condicionamento físico para os Homens e Mulheres do Mar
      </p>
    </ion-row>

  </ion-grid>

  <ion-grid class="ion-no-padding">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <ion-row class="ion-justify-content-center">
          <ion-item color="primary">
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-item color="primary">
            <ion-label position="stacked">Senha</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <p class="full-width ion-text-right ion-no-margin font-12px text-secondary" (click)="forgotPasswordPresentAlert()">
              Esqueci minha senha
            </p>
          </ion-item>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-margin-top">
          <ion-item color="primary" class="ion-margin-top width-unset">
            <ion-button type="submit" class="text-bold" color="light">ENTRAR</ion-button>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="primary">
            <p class="font-14px ion-text-center full-width ion-margin-top">
              Não tem uma conta? 
              <span class="text-bold text-secondary" (click)="navigate('signup')">
                Cadastre-se.
              </span>
            </p>
          </ion-item>
        </ion-row>
    </form>
  </ion-grid>



</ion-content>
