<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Frequência cardíaca
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">

  <ion-grid>

    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <h1 class="text-bold font-22px ion-text-center">FREQUÊNCIA <br> CARDÍACA MÁXIMA</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center" color="secondary">
          <h2 class="text-bold font-38px">{{age + ' bpm'}}</h2>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">

          <p class="text-bold ion-text-center" style="padding: 0px 20px;">A Frequência cardíaca pode ser utilizada durante a prática do exercício aeróbico como forma de controle
            da intensidade do exercício (mais informações na aba “DICAS”).</p>

    </ion-row>

  </ion-grid>
</ion-content>