/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

ion-button {
  --border-radius: 5px;
}

ion-toolbar ion-buttons,
ion-back-button {
  width: 48px;
  height: 48px;
}

:host(ion-icon) {
  --max-width: 24px !important;
  --width: 24px !important;
  height: 24px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.full-width {
  width: 100% !important;
}

.half-width {
  width: 50% !important;
}

.width-unset {
  width: unset !important;
}

.bg-primary {
  background: var(--ion-color-primary);
}

.text-secondary {
  color: var(--ion-color-secondary);
}

.text-bold {
  font-weight: bold;
}

.font-38px {
  font-size: 38px;
}

.font-24px {
  font-size: 24px;
}

.font-22px {
  font-size: 22px;
}

.font-20px {
  font-size: 20px;
}

.font-16px {
  font-size: 16px;
}

.font-14px {
  font-size: 14px;
}

.font-12px {
  font-size: 12px;
}

.font-10px {
  font-size: 10px;
}

.forgot-password .alert-wrapper,
.select-alert .alert-wrapper {
  --max-width: 305px;
}

.profalert {
  h5 {
    color: #10195e;
  }
  text-align: center;
  
  #center {
    font-size: smaller;
    text-align: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    table {
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #10195e;
      th {
        border: 1px solid #10195e;
      }
    }
  }
}
.nbr {
  white-space: nowrap;
}

.alert-wrapper {
  min-width: 300px !important;
}
