<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Meus índices
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h1>MEUS ÍNDICES</h1>
    </ion-row>

    <ion-list class="bg-primary">
      <ion-item 
        color="primary"
        class="d-flex ion-justify-content-between ion-align-items-center"
        (click)="navigate('imc')"
      >
        <ion-label>
          IMC
        </ion-label>

        <div>
          <img src="assets/images/arrow-right.svg"> 
        </div>
      </ion-item>

      <ion-item 
        color="primary" 
        class="d-flex ion-justify-content-between ion-align-items-center"
        (click)="navigate('abdominal-perimeter')"  
      >
        <ion-label>
          PERÍMETRO ABDOMINAL
        </ion-label>

        <div>
          <img src="assets/images/arrow-right.svg"> 
        </div>
      </ion-item>

      <ion-item 
        color="primary" 
        class="d-flex ion-justify-content-between ion-align-items-center"
        (click)="navigate('heart-rate')"  
      >
        <ion-label>
          FREQUÊNCIA CARDÍACA MÁXIMA
        </ion-label>

        <div>
          <img src="assets/images/arrow-right.svg"> 
        </div>
      </ion-item>

      <ion-item
        color="primary"
        class="d-flex ion-justify-content-between ion-align-items-center"
        (click)="navigate('vo2-calculation')"  
      >
        <ion-label>
          VO2 MAX.
        </ion-label>

        <div>
          <img src="assets/images/arrow-right.svg"> 
        </div>
      </ion-item>

    </ion-list>
  </ion-grid>

  <ion-grid>
    
    <ion-row class="ion-nowrap ion-padding-vertical" style="padding: 0px 15px;">
      <ion-col style="width: 30%;">   
        <img src="assets/images/cefan.png" style="height: 65px;margin-left: 2px;">
        <p style="margin: 0px; font-size:13px;" >&nbsp;&nbsp;CDM&nbsp;</p>
      </ion-col>
      <div style="display: flex;align-items: center;">
        <p class="font-14px" style="text-align: center;">Na vanguarda do condicionamento físico de Marinheiros e Fuzileiros Navais.</p>
      </div>
      <ion-col>      
          <img src="assets/images/cefan1.png" style="height: 65px;">    
          <p style="margin: 0px; font-size:13px;">CEFAN</p>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
