<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      VO₂ MÁX.
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary">

 <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h1 class="font-22px text-bold">CÁLCULO DE vo₂ máx.</h1>
    </ion-row>

    <ion-list class="full-width" class="bg-primary">
      <ion-item 
        color="primary"
        class="full-width d-flex ion-justify-content-between"
        (click)="navigate('vo2-calculation2400m')"  
      >
        <ion-label>2400M</ion-label>
        <div>
          <img src="assets/images/arrow-right.svg">
        </div>
      </ion-item>
      <ion-item 
        color="primary"
        class="full-width d-flex ion-justify-content-between"
        (click)="navigate('vo2-calculation3200m')"  
      >
        <ion-label>3200M</ion-label>
        <div>
          <img src="assets/images/arrow-right.svg">
        </div> 
      </ion-item>
    </ion-list>

 </ion-grid>

</ion-content>
