<ion-header class="ion-no-border index-common">
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          defaultHref="index"
          icon="assets/images/arrow-left.svg"
      >
      </ion-back-button>
    </ion-buttons>
    <h1 class="ion-no-padding ion-no-margin font-16px text-bold">
      Voltar
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content fullscren="true" color="primary">

  <ion-grid>
    <ion-row>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h1>MEU PERFIL</h1>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Nome</ion-label>
          <ion-input type="text" formControlName="name" value="{{user?.name}}"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Corpo</ion-label>
          <ion-select formControlName="brigade" value="{{user?.brigade}}">
            <ion-select-option value="Fuzileiros Navais">Fuzileiros Navais</ion-select-option>
            <ion-select-option value="Outros">Outros corpos e quadros</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Gênero</ion-label>
          <ion-select formControlName="genre" value="{{user?.genre}}">
            <ion-select-option value="MASCULINO">Masculino</ion-select-option>
            <ion-select-option value="FEMININO">Feminino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email"  value="{{user?.email}}"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">

        <ion-item color="primary" class="full-width" class="birthday-label">
          <ion-label position="stacked">Data de nascimento</ion-label>
        </ion-item>

        <div class="birthday-row">          
            <ion-select placeholder="Dia" formControlName="birthday_day" value="{{ user?.date_birth.getDate()}}">
              <ion-select-option *ngFor="let day of days" value="{{day}}">{{day}}</ion-select-option>
            </ion-select>
          </div>

          <div class="birthday-row">
            <ion-select placeholder="Mês" formControlName="birthday_month" value="{{ user?.date_birth.getMonth()}}" (ionChange)="updateDay()">
              <ion-select-option *ngFor="let month of months; let i = index" value="{{i}}">{{month}}</ion-select-option>
            </ion-select>
          </div>

          <div class="birthday-row">
            <ion-select placeholder="Ano" formControlName="birthday_year" value="{{ user?.date_birth.getFullYear()}}">
              <ion-select-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-select-option>
            </ion-select>
          </div>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item color="primary" class="height-row">
          <ion-label position="stacked">Altura (m)</ion-label>
          <ion-input type="number" formControlName="height" value="{{parseFloat(user?.height).toFixed(2)}}"></ion-input>
        </ion-item>

        <ion-item color="primary" class="weight-row">
          <ion-label position="stacked">Peso (kg)</ion-label>
          <ion-input type="number" formControlName="weight" value="{{parseFloat(user?.weight).toFixed(2)}}"></ion-input>
         
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <div class="full-width d-flex ion-justify-content-center">
          <ion-button color="light" class="text-bold half-width" (click)="onSubmit()">      
            ATUALIZAR 
          </ion-button>
        </div>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>
